// Breakpoints
$mobile: 450px;
$desktop: 1440px;

// Colors
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
// Neutrals
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

// Typography
$font1: 'Karla', sans-serif;
// Weight
$weight4: 400;
$weight7: 700;